/********************/
/* Style guide */
/********************/

/*

### Layout:

- Mobile: 375px
- Desktop: 1440px

### Primary:

- Pink: hsl(322, 100%, 66%)
- Light Pink: hsl(321, 100%, 78%)
- Light Red: hsl(0, 100%, 63%)

### Neutral:

- Very Dark Cyan: hsl(192, 100%, 9%)
- Very Pale Blue: hsl(207, 100%, 98%)


### Typography system:

FONT SIZE SYSTEM (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

### Whitespace
SPACING SYSTEM (px):
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


### Font-Style:

For Headings :
- Family: Poppins

For paragraph :
- Family: Open Sans


### Font size default setup: 

-Default: 1 rem = 16px
-Reset: 1 rem = 10px
10px/16px = 62.5%


### Font-weights:

For heading:
Bold: 700

For paragraph:
Default: 400
Semibold: 600
Bold: 700


### Line-heights:

- xx for headings
- 1.6 for paragraphs

### Border-radius
Default: xpx

*/

/********************/
/* General setting */
/********************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html {
  font-size: 62.5%;
} */

body {
  color: hsl(192, 100%, 9%);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 100%;
  line-height: 1;
}

/*******************************/
/* General Reusable Components */
/*******************************/

h2 {
  font-family: "Poppins", sans-serif;
}

/* AYUMI'S CODE HERE */

main {
  padding: 0 6rem;
}

header {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header button {
  color: hsl(321, 100%, 78%);
  border: hsl(321, 100%, 78%) 1px solid;
  background-color: white;
  border-radius: 10rem;
  padding: 0.45rem 1.3rem;
  cursor: pointer;
  box-shadow: 0 4px 6px -1px rgba(255, 143, 216, 0.1),
    0 2px 4px rgba(255, 143, 216, 0.1);
}

header img {
  height: 30px;
}
